/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
  box-sizing: border-box;
}

html {
  font-family: Montserrat, Arial, sans-serif;
  color: #1a1a1a;
}

p,
h1,
h2,
h3,
ul,
li {
  margin: 0;
}


img {
  max-width: 100%;
}

p {
  margin-bottom: 5px;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 30px;
}

h2 {
  text-decoration: underline;
  text-underline-position: under;
  font-size: 2em;
}


h3 {
  font-size: 1.5em;
}

.music h2 {
  text-decoration-color:#00B172;
  text-align: center;
  margin-bottom: 2.5em;
}

.music h3 {
  color: #00B172;
  text-align: center;
}

.music p {
  text-align: center;
  font-size: 1.5em;
  flex-wrap: wrap;
}

.music img {
  max-width:100px;
}

.music section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em;
}


.music div {
  display: flex;
  justify-content: space-evenly;
}

.music article {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 33%;
  margin: 3em 7em;
}


.nav {
  width: 100%;
  position: fixed;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
}

.logo {
  margin: 1em;
  display: inline-block;
  display: flex;
  justify-self: flex-start;
  width: 200px;
}

.links {
  margin: 1em;
  text-align: center;
  display: inline-block;
  display: flex;
  /*justify-content: center;*/
}
/*
nav div ul li {
  display: inline;
  display: flex;
   
}
*/

.links ul {
  list-style: none;
  display: inline-flex;
  /*display: flex;*/
  
}

.links ul li {
  display: flex;
  justify-content: space-evenly;

}


.landing {
  background-image: url("../images/landing.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1100px;
  padding-top: 140px;
  padding-bottom: 110px;
  color: #FFF;
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.spotify-app {
  background-color: #00B172;
  color: #FFF;  
  text-align: left;
  
}
